.nav-left {
    float: left;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.ctn-padding {
    padding-top: 20px;
}

.top-nav {
    padding: 0 15px;
}

@media (min-width: 768px) {
    #wrapper {
        padding-right: 0;
        padding-left: 225px
    }

    .side-nav {
        right: 0;
    }
}

@media (min-width: 992px) {
    .user-media .media-body {
        display: block;
        float: left;
        margin-left: 12px;
    }
}

@media (min-width: 768px) {
    .user-media .media-body {
        display: none;
    }

    .media, .media-body {
        overflow: hidden;
        zoom: 1;
    }
}

@media (min-width: 992px) {
    .user-media .media-body h5.media-heading {
        font-size: 18px;
        padding-top: 8px;
        margin-bottom: 11px;
        color: #050505;
        font-weight: bolder;
    }

    .media-heading {
        margin: 0 0 5px;
    }
}

.btn-space {
    margin-bottom: 5px;
    float: left;
}

.project-select{
    float: right;
}

.font-bold {
    font-size: larger;
    font-weight: bold;
}

.font-primary {
    font-size: large;
}

.pre-users {
    height: 50px;
    width: 100px;
    overflow-y: scroll;
    margin-bottom: 3px;
}

.pre-describe {
    height: 70px;
    width: 100%;
    margin-bottom: 3px;
    overflow-y: scroll;
}
p{
  margin-bottom: 3px;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}